.container {
    display: grid;
    grid-template-rows: 350px 1fr;
    gap: 10px;
}

.box-container {
    display: grid;
}

.top-container {
    display: grid;
    grid-template-columns: 500px 350px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: #495E57;
}

.title {
    color: #F4CE14;
}

.sub-title {
    margin-top: -25px;
    color: white
}

.description {
    width: 500px;
    margin-top: -10px;
    color: white;
}

.book-now {
    margin-top: 40px;
    font-size: 34px;
    text-align: center;
}

.rest-pic {
    height: 230px;
    border-radius: 8px;
}

.form-container {
    display: grid;
    justify-content: center;
}

input {
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

textarea {
    border-radius: 8px;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
}

label {
    font-weight: bold;
}

#submit {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 50px;
}
