.nav-container {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
}

.logo {
    height: 50px;
    cursor: pointer;
}


.nav-ul {
    display: flex;
    list-style: none;
}

.nav-li {
    margin-left: 25px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: padding 0.5s;
    color: #495E57;
}

.nav-li:hover {
    padding: 5px;
    font-size: 18px;
}

.link {
    text-decoration: none;
}